@use '../global.scss';

.article-cocktail{
  background-color: global.$color-3;
}

.article-description{
padding: 2rem;
margin: 0.5rem 0;
display: flex;
align-items: center;
gap: 1rem;
justify-content: center;

h3{
  font-size: 1.6rem;
}
h4{
  font-size: 1.4rem;
}
p{
  font-size: 1.2rem;
}

 &__link{
  background-color: global.$color-2;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: global.$color-dark;
  border-radius: 2rem;
 }

}